#movie-card {
  font-family: "Rajdhani";
}

#card-image {
  width: 100%;
  height: auto;
}

#movie-title {
  font-weight: 800;
  font-size: x-large;
}

#movie-view {
  height: 100vh;
  background: linear-gradient(to bottom, #836fc6, #e7a5d7);
}

#movieCard {
  margin-top: 5%;
}
