#username-label {
  margin-top: 10px;
}

#password-label {
  margin-top: 10px;
}

#signUp {
  margin-bottom: 10px;
}

#email-label {
  margin-top: 10px;
}

#register-btn {
  width: 100px;
}

#login-btn {
  margin: 25px 0 0 0;
}
