#name-label {
  margin-top: 10px;
}

#username-label {
  margin-top: 10px;
}

#password-label {
  margin-top: 10px;
}

#signUp {
  margin-bottom: 10px;
  text-decoration: overline;
}

#email-label {
  margin-top: 10px;
}

#birthday-label {
  margin-top: 10px;
}

#submit-btn {
  margin: 20px 10px 0 0;
  width: 100px;
}

#login-btn {
  margin: 20px 0 0 0;
}
