#movie-title {
    font-family: 'Rajdhani';
    font-weight: 800;
    font-size: x-large;
    margin-top: 20px;
}

#movie-description {
    font-family: 'Rajdhani';
    margin-top: 30px;
    margin-bottom: 40px;
}

#movie-poster {
    width: 70%;
    margin-left: 130px;
}

#back {
    margin-left: 450px;
    padding-left: 30px;
    padding-right: 30px;
}
