$font: "Rajdhani";

.loginContainer {
  height: 100vh;
  background: linear-gradient(to bottom, #836fc6, #e7a5d7);
}

#login-card {
  margin-top: 120px;
  font-family: $font;
  width: 50%;
  opacity: 0.8;
}

#login-label {
  text-align: center;
}

#username-label {
  margin-top: 10px;
}

#password-label {
  margin-top: 10px;
}

#submit-btn {
  margin: 20px 10px 0 0;
  width: 100px;
}

#register-btn {
  margin: 20px 0 0 0;
}
