$font: 'Rajdhani';

body {
    background: linear-gradient(to bottom, #836fc6, #e7a5d7);
    height: 100vh;
}

#director-label {
    font-family: $font;
    text-align: center;
    margin-top: 12%;
}

.label {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 15px;
}

.value {
    text-align: center;
    margin-bottom: 0;
}
